# ignore checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# ignore ALL .log files
*.log

# ignore ALL files in following directories
temp/
venv/
YT-env/